################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/1/FileContentIndex/29dc5a2b-047c-4091-a968-d95f87080a22.vsidx
/.vs/1/FileContentIndex/a5a97ff8-604d-443c-b115-623a56b43439.vsidx
/.vs/1/FileContentIndex/1486127b-8551-4199-a1a3-831b1820f7da.vsidx
/.vs/1/FileContentIndex/dd65f58c-6c1d-4f76-bbc6-2a79691b0999.vsidx
/.vs/1/FileContentIndex
